@tailwind base;
@tailwind components;
@tailwind utilities;



/* Fondo claro con textura suave */
body {
  background:
    radial-gradient(circle at 0 0, rgba(15, 23, 42, 0.04) 0, transparent 50%),
    radial-gradient(circle at 100% 100%, rgba(15, 23, 42, 0.05) 0, transparent 55%),
    #f9fafb;
  /* casi blanco */
  color: #020617;

  /* texto oscuro por defecto */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }

}